<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Automation Suite" verbose="2" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="com.qa.salesforce.listeners.TestListener"/>
        <listener class-name="com.qa.salesforce.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="Salesforce Smoke Tests">
        <packages>
            <package name="com.qa.salesforce.tests"/>
        </packages>
    </test>

</suite>
